<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="shortcut icon" type="image/x-icon" href="https://raw.githubusercontent.com/Ap0k4L1p5/Ap0k4L1p5.github.io/master/_content/_icons/favicon.ico">
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.9"></script>

{% seo %}
  </head>

  <body>

    <header>
      <!-- <div class="container">
        <h1>{{ site.title | default: site.github.repository_name }}</h1>
        <h2>{{ site.description | default: site.github.project_tagline }}</h2>
        <section id="downloads">
          {% if site.show_downloads %}
            <a href="{{ site.github.zip_url }}" class="btn">Download as .zip</a>
            <a href="{{ site.github.tar_url }}" class="btn">Download as .tar.gz</a>
          {% endif %}
          <a href="{{ site.github.repository_url }}" class="btn btn-github"><span class="icon"></span>View on GitHub</a>
        </section>
      </div> -->

      <div class="container">
        <h1>{{ site.title }}</h1>
        <!-- <h2>{{ site.description }}</h2> -->
             {%if page.title == "Welcome Comrade!"%} 
        <span id="typed"></span>
            {%endif%} 
      </div>
           {%if page.title == "Welcome Comrade!" %} 
      <div id="typed-strings">
        <h2>{{ site.description }}</h2>
      </div>
           {%endif%}
    </header>

    <div class="container">
      <section id="main_content">
        {{ content }}
      </section>
    </div>

    <!-- {% if site.google_analytics %}
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %} -->
  </body>

</html>
<script>
var typed = new Typed('#typed', {
  stringsElement: '#typed-strings',
  /**
  * @property {number} typeSpeed type speed in milliseconds
  */
  typeSpeed: 80,
  /**
   * @property {number} backSpeed backspacing speed in milliseconds
   */
  backSpeed: 10,
  /**
   * @property {boolean} loop loop strings
   * @property {number} loopCount amount of loops
   */
  loop: true,
  loopCount: Infinity,
});
</script>

<!-- <a href="/prof.apokalips/index">Foreseen the foretold. Kill me now.</a> -->
<!-- <p Here's yor unrequested flag AE13{fFaqihahHalimVioletLady_th3_articsouls}. </p> -->
<!--

                                                                     
                                                                                
                                MMMMMMMMMMMMMM                                  
                           MMMMMMMMMMMMMMMMMMM                                  
                      MMMMMMMMMMMMMMMMMMMMMMMM                                  
                   MMMMMMMMMMMMMMMMMMMMMMMMMMM                                  
                MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM                                 
             MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM                                 
              MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM                                 
               MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM                                
               MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM        MMMMMM                  
                MMMMMMMMMMMMMMMMMMMMMMM   M  M M    MMMMMMMMMM                  
                MMMMMMMMMMMMMMMM             M M MMMMMMMMMMM                    
                 MMMMMMMMMMM M              MMMMMMMMMMMMMM                      
                 MMMMMMMM M  M         MMMMMMMMMMMMMMM                          
                  MM M MM M  M MMMMMMMMMMMMMMMMMMM                              
           MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM M MM                               
      MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM MM MM M MM                               
      MMMMMMMMMMMMMMMMMMMMMMMMMMM M  M MMMMMMM MMMM                             
       MMMMMMMMMMMMMMMMMMMMMM M  M MM M MMMMMMM  MMM                            
                    MMMMMMMMM M  M AE M MMMMMMM  M MMMM                         
                    MMMMMMMMM M  M 13 M  MMMMMM  M MM M MM                      
                    MMMMMMMMM M  M MM M  M MM M           MM                    
                    MMMMMMMMM M  M MM M  M M                MM                  
                     MMMMMMMMMM  M MM M  M                    MM                
                      MMMMMMMMM  M MM M                         M               
                       MMMMMMMMMMMMMMMMMMMMMMMMMM                MM             
                        MMMMMMMMMM MM M  M MM M  M MMMMM          MM            
                        MMMMMMMMMMMMMMMMMMMMMMMMMMMMM M MMM        M            
                         MMMMMMMMMMMMMMMMM               MMMMM      M           
                         MMMMMMMMMMMMMMMM                     MM    MM          
                        MMMMMMMMMMMMMMMMM                        MMMMM          
                       MMMMMMMMMMMMMMMMMMMM                                     
                     MMMMMMMMMMMMMMMMMMMMMMM                                    
                      MMMMMMMMMMMMMMMMMMMMMMMM                                  
                         MMMMMMMMMMMMMMMMMMM                                    
                      Owned by: Prof. Apokalips                                                           

                                                                   

-->
