body {
	background-color: #afe8f7;
	font-family: Consolas;
	color: #8fbc8f;
}

td {
	/*width: 33.3%;*/
	padding: 5px;
}

table { border-collapse: inherit; }

.w50 { width: 50%; }
.w33 { width: 33%; }

input[type='text'] {
	color: white; text-align: right; font-family: consolas;
}

.container { text-align: center; }

.synth-body {
	width: 800px;
	height: 500px;
	background-image: url("../img/synth_body.jpg");
	border-radius: 10px;
	margin: auto;
}

.synth-ctrl {
	height: 15em;
}

.synth-key-body {
	width: 640px;
	margin: auto;
	display: flex;
}

.synth-key-set {
	width: 490px;
	display: flex;
}

.synth-key {
	border-radius: 5px;
}

.synth-key:hover {
	cursor: pointer;
}

.synth-key-body .key-white:active {
	background-color: #ffe4c4;
}

.synth-key-body .key-black:active {
	background-color: #808080;
}

.set-white {
	z-index: 10;
	max-width: 490px;
	margin: auto;
}

.key-white {
	background-color: white;
	width: calc(490px / 7);
	border: 1px black solid;
	height: 15em;
}

.key-white:hover {
	background-color: beige;
}

.set-black {
	z-index: 100;
	position: fixed;
	max-width: 490px;
	margin-left: 110px;
}

.key-black {
	background-color: black;
	width: 50px;
	height: 10em;
	margin: 0px 10px;
}

.key-black:hover {
	background-color: #404040;
}

.gap { visibility: hidden; }

.key-white .key-label { padding-top: 11em; }
.key-black .key-label { padding-top: 6.5em; }

.key-hotkey {
	color: #ff7f50;
	display: none;
}
